.banner {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 0, 86, 0.5);
}

h1 {
  font-size: 40px;
}

body {
  background-color: #851d41;
  color: white;
  height: 100vh;
  position: relative;
}
