#dayly-word {
  padding: 20px;
  margin-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: rgba(247, 0, 86, 0.5);
  border: 1px solid white;
}

#word {
  font-family: 'Permanent Marker';
  font-size: 32px;
}
